/* Add CSS styles here! */
html {
	height: 100%;
}


body {
	background-color: rgb(37, 37, 38);
	height: 100%;
	margin: 0px;
	padding: 0px;
	outline: none;
}

* {
	font-family: Menlo, Monaco, 'Courier New', monospace;
	font-weight: normal;
	font-size: 14px;
	font-feature-settings: 'liga' 0, 'calt' 0;
	line-height: 25px;
	letter-spacing: 0px;
}
